@layout('layouts/main')

@section('content')
  <p>
    Crie o seu usuário
  </p>
  <form action="/users" method="POST">
    <div>
      <label>
        Email:
      </label>
      <input type="email" name="email" placeholder="Email" />
    </div>
    <div>
      <label>
        Senha:
      </label>
      <input type="password" name="password" placeholder="Senha" />
    </div>
    <button type="submit">
      Criar
    </button>
  </form>
@end
