@layout('layouts/main')

@section('content')
  <form action="{{ route('posts.store') }}" method="POST">

    <div>
      @!form.legend({ name: 'Título'})
      @!form.input({ name: 'title', type: 'text' })
    </div>

    <div>
      @!form.legend({ name: 'Conteúdo'})
      @!form.input({ name: 'content', type: 'text' })
    </div>

    <div>
      @form.button()
        Salvar
      @end
    </div>
  </form>

@end
