<html>

<head>
  <title>Rural Medium</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">
</head>

<body>
  <nav>
    <div>
      Rural
    </div>

    <div>
      <button style="margin: 20px;" class="escreva">
        Escreva
      </button>
      <button>
        Comece Aqui
      </button>
    </div>
  </nav>

  @!section('content')

  <footer>
  </footer>
</body>

</html>
